@charset "UTF-8";
/*
 * html, body
---------------------------------------*/
html {
  height: 100%;
}

body {
  opacity: 0;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, footer {
  width: 100%;
}

a, .hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: inherit;
}
a:hover, .hover:hover {
  text-decoration: none;
  outline: 0;
  opacity: 0.8;
}
a.block, .hover.block {
  display: block;
}
a.line, .hover.line {
  display: inline;
}
a.link, .hover.link {
  text-decoration: underline;
}
a img, .hover img {
  border: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.disc {
  margin-left: 1em;
}
ul.disc li {
  list-style: disc;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

iframe {
  max-width: 100%;
}

picture {
  display: block;
}
picture img {
  width: inherit;
}

/*
 * SP-PC切り替え
---------------------------------------*/
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

@media print, screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

/*
 * SPのときだけTELリンクをつける
---------------------------------------*/
@media print, screen and (min-width: 768px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: text;
    text-decoration: none;
  }
}

/* FONT FACE
------------------------------------------------------ */
@font-face {
  font-family: "Yu Mincho Demibold";
  src: url("../fonts/yumindb.woff") format("woff"), url("../fonts/yumindb.ttf") format("truetype");
}
@font-face {
  font-family: "Yu Mincho";
  src: url("../fonts/yumin.woff") format("woff"), url("../fonts/yumin.ttf") format("truetype");
}
@font-face {
  font-family: "851MkPOP_101";
  src: url("../fonts/851MkPOP_101.woff") format("woff");
}
@font-face {
  font-family: "memogaki";
  src: url("../fonts/ShigotoMemogaki-Regular-1-01.woff") format("woff");
}
@font-face {
  font-family: "shokaki";
  src: url("../fonts/しょかきさらり行体.woff") format("woff");
}
@font-face {
  font-family: "bijin";
  src: url("../fonts/BEAUTIFUL FONT.woff") format("woff");
}
@font-face {
  font-family: "Font Awesome 5 free solid";
  src: url("../fonts/FONT AWESOME 5 FREE-SOLID-900.OTF") format("opentype");
}
@font-face {
  font-family: "Font Awesome 5 Brands", serif;
  src: url("../Font_Awesome_5_ Brands_Regular/2547970600ac97f5d9bd0ebcc1f2dd9d.eot");
  src: url("../Font_Awesome_5_ Brands_Regular/2547970600ac97f5d9bd0ebcc1f2dd9d.eot?#iefix") format("embedded-opentype"), url("../Font_Awesome_5_ Brands_Regular/2547970600ac97f5d9bd0ebcc1f2dd9d.woff2") format("woff2"), url("../Font_Awesome_5_ Brands_Regular/2547970600ac97f5d9bd0ebcc1f2dd9d.woff") format("woff"), url("../Font_Awesome_5_ Brands_Regular/2547970600ac97f5d9bd0ebcc1f2dd9d.ttf") format("truetype"), url("../Font_Awesome_5_ Brands_Regular/2547970600ac97f5d9bd0ebcc1f2dd9d.svg#Font Awesome 5 Brands") format("svg");
}
/* FONT
------------------------------------------------------ */
.font-Yumincho-Demibold {
  font-family: "Yu Mincho", "Yu Mincho Demibold", serif;
}

/* ボタン１ */
.btn1 {
  display: block;
  background: #0084b2;
  background: -webkit-gradient(linear, left top, right top, from(#0084b2), to(#009fa1));
  background: linear-gradient(to right, #0084b2 0%, #009fa1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0084b2", endColorstr="#009fa1",GradientType=1 );
  color: #fff;
  text-align: center;
  line-height: 1;
  width: 70rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .btn1 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
  }
}
@media screen and (max-width: 374px) {
  .btn1 {
    font-size: 16px;
    font-size: calc( 16px + ((1vw - 3.2px) * 7.4074074074 ) );
  }
}
@media print, screen and (min-width: 768px) {
  .btn1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    font-size: 3rem;
    border-radius: 2rem;
    padding: 3.6rem;
  }
}
.btn1:after {
  content: "";
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-left: 1rem;
}
@media print, screen and (min-width: 768px) {
  .btn1:after {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-left: 1.5rem;
  }
}

/* ボタン２ */
.btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ecaf38;
  background: -webkit-gradient(linear, left top, right top, from(#ecaf38), to(#ffd200));
  background: linear-gradient(to right, #ecaf38 0%, #ffd200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ecaf38", endColorstr="#ffd200",GradientType=1 );
  color: #fff;
}
@media screen and (max-width: 767px) {
  .btn2 {
    font-size: 23.5px;
    font-size: 2.35rem;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
  }
}
@media print, screen and (min-width: 768px) {
  .btn2 {
    font-size: 40px;
    font-size: 4rem;
    text-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);
  }
}

/* テキスト配置 */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .text-right--sp {
    text-align: right;
  }
}
@media print, screen and (min-width: 768px) {
  .text-right--pc {
    text-align: right;
  }
}

/* flexbox */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex .flex_item-col1 {
  width: 6.3333333333%;
}
.flex .flex_item-col2 {
  width: 14.6666666667%;
}
.flex .flex_item-col3 {
  width: 23%;
}
.flex .flex_item-col4 {
  width: 31.3333333333%;
}
.flex .flex_item-col5 {
  width: 39.6666666667%;
}
.flex .flex_item-col6 {
  width: 48%;
}
.flex .flex_item-col7 {
  width: 56.3333333333%;
}
.flex .flex_item-col8 {
  width: 64.6666666667%;
}
.flex .flex_item-col9 {
  width: 73%;
}
.flex .flex_item-col10 {
  width: 81.3333333333%;
}
.flex .flex_item-col11 {
  width: 89.6666666667%;
}
.flex .flex_item-col12 {
  width: 98%;
}
@media screen and (max-width: 767px) {
  .flex .flex_item-sp-col1 {
    width: 6.3333333333%;
  }
  .flex .flex_item-sp-col2 {
    width: 14.6666666667%;
  }
  .flex .flex_item-sp-col3 {
    width: 23%;
  }
  .flex .flex_item-sp-col4 {
    width: 31.3333333333%;
  }
  .flex .flex_item-sp-col5 {
    width: 39.6666666667%;
  }
  .flex .flex_item-sp-col6 {
    width: 48%;
  }
  .flex .flex_item-sp-col7 {
    width: 56.3333333333%;
  }
  .flex .flex_item-sp-col8 {
    width: 64.6666666667%;
  }
  .flex .flex_item-sp-col9 {
    width: 73%;
  }
  .flex .flex_item-sp-col10 {
    width: 81.3333333333%;
  }
  .flex .flex_item-sp-col11 {
    width: 89.6666666667%;
  }
  .flex .flex_item-sp-col12 {
    width: 98%;
  }
}
@media print, screen and (min-width: 768px) {
  .flex .flex_item-pc-col1 {
    width: 6.3333333333%;
  }
  .flex .flex_item-pc-col2 {
    width: 14.6666666667%;
  }
  .flex .flex_item-pc-col3 {
    width: 23%;
  }
  .flex .flex_item-pc-col4 {
    width: 31.3333333333%;
  }
  .flex .flex_item-pc-col5 {
    width: 39.6666666667%;
  }
  .flex .flex_item-pc-col6 {
    width: 48%;
  }
  .flex .flex_item-pc-col7 {
    width: 56.3333333333%;
  }
  .flex .flex_item-pc-col8 {
    width: 64.6666666667%;
  }
  .flex .flex_item-pc-col9 {
    width: 73%;
  }
  .flex .flex_item-pc-col10 {
    width: 81.3333333333%;
  }
  .flex .flex_item-pc-col11 {
    width: 89.6666666667%;
  }
  .flex .flex_item-pc-col12 {
    width: 98%;
  }
}
@media print, screen and (min-width: 768px) {
  .flex--pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex--pc .flex_item-pc-col1 {
    width: 6.3333333333%;
  }
  .flex--pc .flex_item-pc-col2 {
    width: 14.6666666667%;
  }
  .flex--pc .flex_item-pc-col3 {
    width: 23%;
  }
  .flex--pc .flex_item-pc-col4 {
    width: 31.3333333333%;
  }
  .flex--pc .flex_item-pc-col5 {
    width: 39.6666666667%;
  }
  .flex--pc .flex_item-pc-col6 {
    width: 48%;
  }
  .flex--pc .flex_item-pc-col7 {
    width: 56.3333333333%;
  }
  .flex--pc .flex_item-pc-col8 {
    width: 64.6666666667%;
  }
  .flex--pc .flex_item-pc-col9 {
    width: 73%;
  }
  .flex--pc .flex_item-pc-col10 {
    width: 81.3333333333%;
  }
  .flex--pc .flex_item-pc-col11 {
    width: 89.6666666667%;
  }
  .flex--pc .flex_item-pc-col12 {
    width: 98%;
  }
}
@media screen and (max-width: 767px) {
  .flex--sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex--sp .flex_item-sp-col1 {
    width: 6.3333333333%;
  }
  .flex--sp .flex_item-sp-col2 {
    width: 14.6666666667%;
  }
  .flex--sp .flex_item-sp-col3 {
    width: 23%;
  }
  .flex--sp .flex_item-sp-col4 {
    width: 31.3333333333%;
  }
  .flex--sp .flex_item-sp-col5 {
    width: 39.6666666667%;
  }
  .flex--sp .flex_item-sp-col6 {
    width: 48%;
  }
  .flex--sp .flex_item-sp-col7 {
    width: 56.3333333333%;
  }
  .flex--sp .flex_item-sp-col8 {
    width: 64.6666666667%;
  }
  .flex--sp .flex_item-sp-col9 {
    width: 73%;
  }
  .flex--sp .flex_item-sp-col10 {
    width: 81.3333333333%;
  }
  .flex--sp .flex_item-sp-col11 {
    width: 89.6666666667%;
  }
  .flex--sp .flex_item-sp-col12 {
    width: 98%;
  }
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media print, screen and (min-width: 768px) {
  .flex-wrap--pc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .flex-wrap--sp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.flex-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media print, screen and (min-width: 768px) {
  .flex-justify-start--pc {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .flex-justify-start--sp {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.flex-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media print, screen and (min-width: 768px) {
  .flex-justify-end--pc {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .flex-justify-end--sp {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.flex-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media print, screen and (min-width: 768px) {
  .flex-justify-between--pc {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .flex-justify-between--sp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media print, screen and (min-width: 768px) {
  .flex-justify-center--pc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .flex-justify-center--sp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flex-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media print, screen and (min-width: 768px) {
  .flex-align-start--pc {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .flex-align-start--sp {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media print, screen and (min-width: 768px) {
  .flex-align-center--pc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .flex-align-center--sp {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.flex-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media print, screen and (min-width: 768px) {
  .flex-align-end--pc {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .flex-align-end--sp {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.flex-align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media print, screen and (min-width: 768px) {
  .flex-align-stretch--pc {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
@media screen and (max-width: 767px) {
  .flex-align-stretch--sp {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media print, screen and (min-width: 768px) {
  .flex-row-reverse--pc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (max-width: 767px) {
  .flex-row-reverse--sp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

/* フェード用CSS
------------------------------------------------------ */
.js-fade-in {
  opacity: 0;
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.js-fade-in.js-scroll-in {
  opacity: 1 !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}

.js-fade-outQuit {
  -webkit-transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
          transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
}

.js-fade-in-up {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

.js-fade-in-down {
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.js-fade-in-left {
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
}

.js-fade-in-right {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

/* 拡大・縮小CSS
------------------------------------------------------ */
.js-scale-small-to-large {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.js-scale-small-to-large.js-scroll-in {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}