{{ 'chopstick.css' | asset_url | stylesheet_tag }}

<body>
    <div class="main">
        <div class="fv">
            <p class="img"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/pd_S0043-038-1.jpg?v=1645608393" alt="箸はBECOS" /></p>
        <div class="main-copy">
            <h1 class="brand-copy">箸はBECOS</h1>
            <p class="j-copy">全国から厳選した本物だけを販売 <br class="sp" />｜伝統工芸品通販のBECOS</p>
        </div>
        </div>
    </div>
    <!-- fv --> 
    <!--ランキング-->
    <section class="section-wrapper">
        <div class="section-inner">
            <p>箸はBECOS。贈答品・ギフトに最適な高級箸や夫婦箸など、全国の厳選した箸を幅広く取り揃えております。伝統的な輪島塗や若狭塗など、全国からBECOSが厳選した本物だけをご紹介。名入れ可能な箸は喜ばれる贈り物としてもピッタリです。箸の歴史やマナー、箸ができるまでのストーリーなど全てを詰め込みましたので、ぜひご覧ください。</p>
            <h2 class="section-title">箸の人気売れ筋ランキング</h2>
        <div class="tabs"><input id="all" type="radio" name="tab_item" /> <label class="tab_item" for="all">ギフト用</label> <input id="name_item" type="radio" name="tab_item" checked="checked" /> <label class="tab_item" for="name_item">自分用・1膳ギフト</label> 
            <!-- ギフト用 ------------------------------------------------------------>
            <div class="tab_content" id="all_content">
            <div class="flex-container">
                <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-038"> <span class="number1">1位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                <figcaption class="item">【若狭塗】<br />箸蔵まつかん 箸ペア<br />黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)</figcaption>
                <a href="https://www.thebecos.com/products/s0119-009">
                <p class="price">¥11,000</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125"> <span class="number2">2位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0009-125-2_1600x.jpg?v=1602636038" alt="【金沢箔】箔一 夫婦箸・箸置きセット 金糸 (金)" /></a>
                <figcaption class="item">【金沢箔】<br />箔一 夫婦箸・箸置きセット<br />金糸 (金)</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125">
                <p class="price">¥6,050</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085"> <span class="number3">3位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-085-2_1600x.jpg?v=1624530674" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット まつりはなび" /></a>
                <figcaption class="item">【津軽びいどろ】<br />北洋硝子 (アデリア) 箸/箸置きセット <br />まつりはなび</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085">
                <p class="price">¥5,550</p>
                </a></figure>
            </div>
        </div>
    <!-- 自分用・1膳ギフト商品 ---------------------------------------------->
        <div class="tab_content" id="name_item_content">
            <div class="flex-container">
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0154-019"> <span class="number1">1位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/s0154-019-1_1600x.jpg?v=1633344667" alt="【漆 溜塗】十八膳 箸 だん 段々金 (1膳)" /></a>
                <figcaption class="item">【漆 溜塗】<br />十八膳 箸 だん 段々金 (1膳)</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0154-019">
                <p class="price">¥2,750</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-024"> <span class="number2">2位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan24_b7f447ba-e41a-4810-8a09-b4d3c18fa881_1600x.jpg?v=1602579360" alt="【高級箸】箸蔵まつかん モダンな若狭塗箸 hanataba urushi 赤" /></a>
                <figcaption class="item">【高級箸】<br />箸蔵まつかん モダンな若狭塗箸<br /> hanataba urushi 赤</figcaption>
                <a href="https://www.thebecos.com/products/s0043-024">
                <p class="price">¥29,260</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-084"> <span class="number3">3位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-084-7_1600x.jpg?v=1656913286" alt="【箸】六角竹乃箸 黒 | 若狭塗" /></a>
                <figcaption class="item">【箸】<br />コ六角竹乃箸 黒 | 若狭塗<br /> </figcaption>
                <a href="https://www.thebecos.com/products/s0043-084">
                <p class="price">¥11,000</p>
                </a></figure>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- バナー -->
    <div class="banner_content">
        <h2 class="banner_title">私たちの一生は箸にはじまり、箸に終わる</h2>
        <p class="banner_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
    <!-- スライダー＆モーダル -->
    <section class="section-wrapper">
        <div class="section-inner">
            <h2 class="section-title">どんなシーンでお箸を贈りますか？<br>種類別に探す</h2>
            <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
        </div>

        <div class="container">
            <div class="slider">
              <div class="slick-img">
                    <h3>結婚のお祝いに<br>夫婦箸を贈る</h3>
                    <a href="https://www.thebecos.com/products/s0145-006">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a>
                    <h4>【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き </h4>
                    <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                        職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                        オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                        美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                    </p>
              </div>
              <div class="slick-img">
                <h3>敬老の日・<br>長寿のお祝い</h3>
                <a href="https://www.thebecos.com/products/s0043-083">
                <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-083-13_1600x.jpg?v=1656913259" alt="【夫婦箸】六角竹乃箸 夫婦 | 若狭塗"/></a>
                <h4>【夫婦箸】六角竹乃箸 夫婦 | 若狭塗 </h4>
                <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                    職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                    オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                    美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                </p>
                </div>
              <div class="slick-img">
                  <h3>両親へ高級箸を贈る</h3>
                  <a href="https://www.thebecos.com/products/s0043-038">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                    <h4>【若狭塗】箸蔵まつかん 箸ペア <br>黒檀 四角 漆塗 箸置付 (21.5, 23.0cm) </h4>
                    <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                        職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                        オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                        美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                    </p>
              </div>
              <div class="slick-img">
                  <h3>海外の方への<br>お土産として贈る</h3>
                  <a href="https://www.thebecos.com/products/s0043-003">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /></a>
                    <h4>【高級箸】箸蔵まつかん 若狭塗箸 <br>貝きりこ桐箱入 23.0cm </h4>
                    <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                        職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                        オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                        美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                    </p>
              </div>
            </div>
        </div>
        <!-- 結婚のお祝いに夫婦箸を贈る下の３商品 -->
        <div class="info_container">
            <p><a href="#info" class="modal-open">
                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a>
            </p>
            <p><a href="#info2" class="modal-open">
                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt=""></a>
            </p>
            <p><a href="#info3" class="modal-open">
                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-009-1_1600x.jpg?v=1633343560" alt="【輪島うるし箸 】橋本幸作漆器店 本乾漆箸 寿 桜ふぶき (2膳)"></a>
            </p>
        </div>
        <!-- モーダルの中 -->
        <section id="info">
            <div class="info_modal_img">
                <a href="https://www.thebecos.com/products/s0145-006"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a>
            </div>
            <ul class="info_modal_title">
                <li class="info_modal_li"><h2>【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き</h2></li>
                <li><h3>¥11,400</h3></li>
            </ul>
            <div class="info_modal_body">
                <p>食洗器も使えるからプレゼントにおすすめのお箸です！<br>
                職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                </p>
            </div>
        </section>
        <section id="info2">
            <div class="info_modal_img">
                <a href="https://www.thebecos.com/products/s0145-006"><img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら"></a>
            </div>
            <ul class="info_modal_title">
                <li class="info_modal_li"><h2>【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら</h2></li>
                <li><h3>¥4,400</h3></li>
            </ul>
                <div class="info_modal_body">
                     <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                </div>
        </section>
        <section id="info3">
            <div class="info_modal_img">
                <a href="https://www.thebecos.com/products/s0147-009"><img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-009-1_1600x.jpg?v=1633343560" alt="【輪島うるし箸 】橋本幸作漆器店 本乾漆箸 寿 桜ふぶき (2膳)"></a>
            </div>
            <ul class="info_modal_title">
                <li class="info_modal_li"><h2>【輪島うるし箸 】橋本幸作漆器店 本乾漆箸 寿 桜ふぶき (2膳)</h2></li>
                <li><h3>¥6,600</h3></li>
            </ul>
            <div class="info_modal_body">
                <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
            </div>
            </section>
        <!-- モーダルの中 ここまで　-->


    </section>
    <section class="section-wrapper">
        <div class="section-inner">
            <h2 class="section-title">予算別に箸を探す</h2>
            <ul class="section_button">
                <li><div class="button05">
                    <a href=""><h3>1,000円～3,000円未満</h3></a>
                </div></li>
                <li><div class="button05">
                    <a href=""><h3>3000円～5,000円未満</h3></a>
                </div></li>
                <li><div class="button05">
                    <a href=""><h3>5,000円～7,000円未満</h3></a>
                </div></li>
                <li><div class="button05">
                    <a href=""><h3>10,000円～</h3></a>
                </div></li>
            </ul>
    </section>
<!-- 箸１膳できるまで  -->
    <section class="section">
        <div class="section-inner black">
            <h2 class="section-title white">なぜ日本人は箸に魅了されるのか</h2>
            <h3 class="section_black">箸1膳ができるまで</h3>
            <div class="slider2">
                <div><img src="img/slider.png" alt="" /></div>
                <div><img src="img/slider.png" alt="" /></div>
                <div><img src="img/slider.png" alt="" /></div>
                <div><img src="img/slider.png" alt="" /></div>
                <div><img src="img/slider.png" alt="" /></div>
                <div><img src="img/slider.png" alt="" /></div>
              </div>
        <div class="container">
            <div class="kazari">
            <img src="img/right_moyou.png" alt=""></div>
        <h3 class="section_black">職人技(想い)が詰まった逸品</h3>
        <h3 class="section_black left">職人技(想い)が詰まった逸品</h3>
        <div class="flex-container black_inner">
        <p class="section_black">能美を追求し、感性に一致する箸を。
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト</p>
        <img src="img/ojisan.png" alt="">
        </div>
        </div>
        <div class="container padding_b">
            <h3 class="section_black">職人技(想い)が詰まった逸品</h3>
            <h3 class="section_black right">職人技(想い)が詰まった逸品</h3>
            <div class="flex-container black_inner">
                <img src="img/ojisan.png" alt="">
            <p class="section_black">能美を追求し、感性に一致する箸を。
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト</p>
            </div>
            <div class="kazari2">
                <img src="img/right_moyou.png" alt=""></div>
            </div>
    </div>
    </section>
    <!--ランキング-->
    <section class="section-wrapper">
        <div class="section-inner">
            <h2 class="section-title">世界に１つだけの特別なギフト</h2>
            <h3>名入れ可能なお箸<br>人気ランキング</h3>
        <!-- <div class="tabs"><input id="all" type="radio" name="tab_item" /> <label class="tab_item" for="all">ギフト用</label> <input id="name_item" type="radio" name="tab_item" checked="checked" /> <label class="tab_item" for="name_item">自分用・1膳ギフト</label>  -->
            <!-- ギフト用 ------------------------------------------------------------>
            <!-- <div class="tab_content" id="all_content"> -->
            <div class="flex-container">
                <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-038"> <span class="number1">1位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                <figcaption class="item">【若狭塗】<br />箸蔵まつかん 箸ペア<br />黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)</figcaption>
                <a href="https://www.thebecos.com/products/s0119-009">
                <p class="price">¥11,000</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125"> <span class="number2">2位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0009-125-2_1600x.jpg?v=1602636038" alt="【金沢箔】箔一 夫婦箸・箸置きセット 金糸 (金)" /></a>
                <figcaption class="item">【金沢箔】<br />箔一 夫婦箸・箸置きセット<br />金糸 (金)</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125">
                <p class="price">¥6,050</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085"> <span class="number3">3位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-085-2_1600x.jpg?v=1624530674" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット まつりはなび" /></a>
                <figcaption class="item">【津軽びいどろ】<br />北洋硝子 (アデリア) 箸/箸置きセット <br />まつりはなび</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085">
                <p class="price">¥5,550</p>
                </a></figure>
            <!-- </div>
        </div> -->
    <!-- 自分用・1膳ギフト商品 ---------------------------------------------->
        <!-- <div class="tab_content" id="name_item_content">
            <div class="flex-container">
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0154-019"> <span class="number1">1位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/s0154-019-1_1600x.jpg?v=1633344667" alt="【漆 溜塗】十八膳 箸 だん 段々金 (1膳)" /></a>
                <figcaption class="item">【漆 溜塗】<br />十八膳 箸 だん 段々金 (1膳)</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0154-019">
                <p class="price">¥2,750</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-024"> <span class="number2">2位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan24_b7f447ba-e41a-4810-8a09-b4d3c18fa881_1600x.jpg?v=1602579360" alt="【高級箸】箸蔵まつかん モダンな若狭塗箸 hanataba urushi 赤" /></a>
                <figcaption class="item">【高級箸】<br />箸蔵まつかん モダンな若狭塗箸<br /> hanataba urushi 赤</figcaption>
                <a href="https://www.thebecos.com/products/s0043-024">
                <p class="price">¥29,260</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-084"> <span class="number3">3位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-084-7_1600x.jpg?v=1656913286" alt="【箸】六角竹乃箸 黒 | 若狭塗" /></a>
                <figcaption class="item">【箸】<br />コ六角竹乃箸 黒 | 若狭塗<br /> </figcaption>
                <a href="https://www.thebecos.com/products/s0043-084">
                <p class="price">¥11,000</p>
                </a></figure>
            </div>
        </div> -->
        </div>
    </div>
    </section>
<!-- お箸のデザイン --------------------------->
<div class="design_section">
    <section class="section-wrapper">
        <div class="section-inner">
          <h2 class="section-title">お箸のデザイン美は産地<br>・漆塗りにあり</h2>
    
          <div class="section-desc-area">
              <p class="section-desc">輪島塗箸(石川県)、津軽塗箸(青森県)、若狭塗箸(福井県)、山中塗箸(石川県)などーーーー
                テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト</p>
          </div>
    
        <div class="partner">
          <div class="partner-box">
            <input type="checkbox" id="partner_bar03" class="partner-check" />
            <label for="partner_bar03" class="partner-label">
              <div class="by-partner-head">
                <div class="by-partner-head-left">
                    <h3 class="vertical by-partner-heading business">輪島塗箸 石川県</h3>
                  <p class="vertical by-partner-text">
                    お世話になっている取引先の会社・<br>職場の方々へ感謝と誠意を伝える夏の贈り物
                  </p>
                </div>
                <div class="by-partner-head-right">
                    <img class="by-partner-img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-012-12_1600x.jpg?v=1633343626" alt="取引先、職場別カテゴリー、【京菓子】鈴屋将経 どら焼きセット 5種＊各3個（計15個）の写真">
                </div>
              </div>
            </label>
          <!-- 中身 -->
          <div class="by-partner-body" id="links03">
            <ul>
                <li class="partner_title"><h4 class="partner_title_4">商品題名</h3></li>
                <li><p>ジャンル</p></li>
                <div class="no_display">
                <li>
                <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
                <li><a href="https://www.thebecos.com/products/s0147-012"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-012-1_1600x.jpg?v=1633343626" alt=""></li></a>
                </div>
                <div class="no_display no_display_button">
                    <li><h4>7,700円</h4></li>
                    <li><button class="buy_button"><a href="https://www.thebecos.com/products/s0147-012">ご購入はこちら</a></button></li>
                </div>
              </ul>
              <ul class="color_gray">
                <li class="color_gray_right"><li class="partner_title"><h4>商品題名</h3></li>
                <li class="color_gray_right"><p>ジャンル</p></li>
                <div class="no_display">
                <li><img src="img/s0043-086-6 1.png" alt=""></li>
                <li>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
                
                </div>
                <div class="no_display">
                <li class="color_gray_right"><h4>3,000円</h4></li>
                <li class="color_gray_right"><button class="buy_button">ご購入はこちら</button></li>
                 </div>
              </ul>
              <ul>
                <li><h4>商品題名</h3></li>
                <li><p>ジャンル</p></li>
                <div class="no_display">
                <li>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
                <li><img src="img/s0043-086-6 1.png" alt=""></li>
                </div>
                <div class="no_display">
                <li><h4>3,000円</h4></li>
                <li><button class="buy_button">ご購入はこちら</button></li>
                 </div>
              </ul>
          </div><!-- by-partner-body -->
          </div><!-- partner-box -->
    
          <div class="partner-box">
            <input type="checkbox" id="partner_bar01" class="partner-check"/>
            <label for="partner_bar01" class="partner-label">
              
              <div class="by-partner-head">
                
                <div class="by-partner-head-left">
                    <h3 class="vertical by-partner-heading family">家族・親戚向け</h3>
                  <p class="vertical by-partner-text">
                    両親や祖父・祖母、叔母・伯父などの親戚へ日ごろの感謝を伝える夏の贈り物
                  </p>
                </div>
                <div class="by-partner-head-right">
                    <img class="by-partner-img" src="img/s0043-086-6 1.png" alt="家族、親戚向けカテゴリーのイメージ写真" >
                </div>
                
              </div>
            </label>
      
      <div class="by-partner-body" id="links01">
          <ul>
            <li><h4>商品題名</h3></li>
            <li><p>ジャンル</p></li>
            <div class="no_display">
            <li>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
            <li><img src="img/s0043-086-6 1.png" alt=""></li>
            </div>
            <div class="no_display">
            <li><h4>3,000円</h4></li>
            <li><button class="buy_button">ご購入はこちら</button></li>
             </div>
          </ul>
          <ul class="color_gray">
            <li class="color_gray_right"><h4>商品題名</h3></li>
            <li class="color_gray_right"><p>ジャンル</p></li>
            <div class="no_display">
            <li><img src="img/s0043-086-6 1.png" alt=""></li>
            <li>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
            
            </div>
            <div class="no_display">
            <li class="color_gray_right"><h4>3,000円</h4></li>
            <li class="color_gray_right"><button class="buy_button">ご購入はこちら</button></li>
             </div>
          </ul>
          <ul>
            <li><h4>商品題名</h3></li>
            <li><p>ジャンル</p></li>
            <div class="no_display">
            <li>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
            <li><img src="img/s0043-086-6 1.png" alt=""></li>
            </div>
            <div class="no_display">
            <li><h4>3,000円</h4></li>
            <li><button class="buy_button">ご購入はこちら</button></li>
             </div>
          </ul>
          <!-- <ul>
             <li>
              <table class="partner-price">
                <tr>
                <td class="bold">予算相場:</td><td>3,000円〜5,000円</td>
                </tr>
              </table>
    
              <table class="partner-category">          
                <tr>
                <td class="bold">おすすめジャンル:</td><td>グルメ・お皿・ファッション雑貨</td>
                </tr>
              </table>
    
              <table class="partner-point">
                <tr>
                <td class="bold">選ぶポイント:</td>
                </tr>
              </table> 
              
              <p class="point-text">
                関係性の近い両親や兄弟、親戚などには3,000円-5,000円が一般的。日頃から深い関係性があるので、相手の好みにあったものを選ぶのが良いでしょう。また、家族で楽しめるように数や量を重視した品物を選ぶのもオススメです！もし、贈る品物に悩んだ場合は気軽に聞いてみましょう！
              </p>
    
              <table class="partner-point">
                <tr>
                <td class="bold">例えばコレ！</td>
                </tr>
              </table> 
    
                  <a href="https://www.thebecos.com/products/s0179-011" class="recommend-item">
               <p>
               <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0179-011-1_1024x.jpg?v=1653513201" alt="【木桶熟成ソース】鳥居食品 ソース 5本セット B" />
             </p>
        
               <p class="item-brand">【木桶熟成ソース】</p>
               <p class="item">鳥居食品 ソース 5本セット</p>
               <p class="item-price">¥3,550(税込)</p>
        </a>
    
        <p class="point-text">普段あまり買うことがないものを貰えると嬉しいものです。こちらは、素材や配合にこだわり、化学調味料・酸化防止剤などは無添加で作った自慢の美味しいソースセット！「ウスターソース」「中濃ソース」「オムライスをおいしくするソース」「ジンジャーシロップ」「桶底の力」の5本詰め合わせセットなので、家族・親戚など身近な人への夏の贈り物にぴったりです。</p>         
    
              <div class="btn-area">
                <a href="https://www.thebecos.com/collections/family-summer" class="btn btn-border">家族・親戚向けで探す</a>
              </div>
          </li>
        </ul> -->
      </div><!-- by-partner-body -->
    </div><!-- partner-box -->

    
    </div><!-- partner -->
    </div><!-- section-inner -->
    </section><!-- section-wrapper -->
    </div>
    <section class="section-wrapper wrapper-about">
        <div class="section-inner">
        <div>
        <h2 class="section-title">全国から厳選したお箸ブランドが集結</h2>
        <!-- <h3>BECOSの目利きは<br />「正直」にあり</h3>
        <p class="about-brand">どんな鋼材を使った包丁なのか。どんな想いで作っているのか。職人一人ひとりと向き合うことで、<br class="pc" />本物だけをBECOSでは取り扱っています。</p> -->
        <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/map.png?v=1649132698" alt="全国の包丁4大ブランド" class="map" /></div>
       
        <ul class="brand-container">
        <li class="flex-scrolling brand-item">
        <div class="flex-container">
        <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/syokunin1.jpg?v=1649132698" alt="【堺刃物】義弘作 Mo.V墨流し 三徳包丁165ｍｍ ウォールナット柄" /></p>
        <div class="flex-brand-dl">
        <dl>【塗り箸ー輪島塗】<br>十八膳(おはこ)</dl>
        生産地：大阪府<br />技法：堺刃物</div>
        </div>
        <div class="about-shokunin b">
        <p>1927年創業の大阪府堺市にあるメーカーで一言で言えば「よく切れる包丁」が特徴のメーカーです。自社の刃付工場で砥ぎ上げられる、妥協なき切れ味と美しさを兼ね備えた至極の和包丁は、全国に多数のファンがおります。<br /><br />現在では、プロの料理人の90％が使用しているとも言われている堺の包丁を支える技術を駆使して作り上げられた山脇刃物製作所の包丁は、使い続けることでより一層手に馴染み、一生使い続けられる耐久性のある包丁ばかりですので、ぜひじっくりと時間をかけて選んでいただければと思います。</p>
        </div>
        <a href="https://www.thebecos.com/collections/vendors?q=%E5%B1%B1%E8%84%87%E5%88%83%E7%89%A9%E8%A3%BD%E4%BD%9C%E6%89%80" class="link-btn">商品を見る</a></li>
        <li class="flex-scrolling brand-item">
        <div class="flex-container">
        <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/syokunin2.png?v=1649132698" alt="【堺刃物】義弘作 Mo.V墨流し&lt;br&gt;三徳包丁165ｍｍ ウォールナット柄" /></p>
        <div class="flex-brand-dl">
        <dl>龍泉刃物</dl>
        生産地：福井県<br />技法：越前打刃物</div>
        </div>
        <div class="about-shokunin b">
        <p>1953年創業の福井県越前市にあるメーカーで一言で言えば「息を呑む美しい包丁」が特徴のメーカーです。<br /><br />龍泉刃物の包丁ならではの、美しいフォルムと模様は、世界でも高く評価されドイツやフランス、アメリカなど世界14ヶ所に販売店があります。<br /><br />世界で認められた日本の刃物が欲しい方はぜひ龍泉刃物を手にとってみてはいかがでしょうか。</p>
        </div>
        <a href="https://www.thebecos.com/collections/vendors?q=%E9%BE%8D%E6%B3%89%E5%88%83%E7%89%A9" class="link-btn">商品を見る</a></li>
        <li class="flex-scrolling brand-item">
        <div class="flex-container">
        <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/syokunin3.png?v=1649132698" alt="【堺刃物】義弘作 Mo.V墨流し &lt;br&gt;&lt;br&gt;三徳包丁165ｍｍ ウォールナット柄" /></p>
        <div class="flex-brand-dl">
        <dl>高橋楠</dl>
        生産地：大阪府<br />技法：堺打刃物</div>
        </div>
        <div class="about-shokunin b">
        <p>テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト</p>
        </div>
        <a href="https://www.thebecos.com/collections/vendors?q=%E9%AB%98%E6%A9%8B%E6%A5%A0" class="link-btn">商品を見る</a></li>
        <li class="flex-scrolling brand-item">
        <div class="flex-container">
        <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/syokunin4.png?v=1649132698" alt="【堺刃物】義弘作 Mo.V墨流し 三徳包丁165ｍｍ ウォールナット柄" /></p>
        <div class="flex-brand-dl">
        <dl>鍛冶工房いわい</dl>
        生産地：福井県<br />技法：越前打刃物</div>
        </div>
        <div class="about-shokunin b">
        <p>テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト<br /><br />利便性を追求してステンレスを使うメーカーが多い中「鋼」を使った切れ味の鋭い包丁を作り続けています。今どき錆びやすい「鋼」をあえて使うあたりに並々ならぬこだわりを感じますし、錆びやすい包丁だからこそ、頻繁にメンテナンスしてあげることで、長く愛着をもって使い続けることができます。</p>
        </div>
        <a href="https://www.thebecos.com/collections/vendors?q=%E9%8D%9B%E5%86%B6%E5%B7%A5%E6%88%BF%E3%81%84%E3%82%8F%E3%81%84" class="link-btn">商品を見る</a></li>
        </ul>
        </div>
        <!---about -->
    </section>
        <!-- BECOS厳選の箸が選ばれる理由 -->
        <section class="section-wrapper select">
        <div class="section-inner w-section">
            <h2 class="section-title">BECOS厳選の箸が選ばれる理由</h2>
            <p class="select_text">テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
            <ul class="flex-container scroll-container">
            <li class="flex-item calc3">
                <h3 class="t-ttl ora">ラッピング</h3>
                <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping01_dea44d23-c8c9-4052-bf93-4c8339dd67e9.jpg?v=1653653256" alt="贈り物に最適なラッピング" /></p>
                <div class="select_item_text">
                    <p>扇子の贈り物を贈る際のラッピングにも高級扇子にふさわしい素材の 美しい和紙や水引を用いています。 <br />熨斗対応も可能ですので、目上の方へのプレゼントや正式な場での贈 り物にも対応しております。 <br />包装紙や水引が選べるだけではなく、ドライフラワーの花束やメッセ ージカードを付けることも可能です。</p>
                </div>
            </li>
            <li class="flex-item calc3">
                <h3 class="t-ttl ora">メッセージカード</h3>
                <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/ohnishitsune02_0b04e30d-a373-493f-8612-835baa81598e.jpg?v=1653653256" alt="長く使える高品質" /></p>
            <div class="select_item_text">
           
                <p>BECOSでは、京扇子・江戸扇子の老舗扇子ブランドから、加賀友禅の伝統工芸士、 また新進の作家によるデザイン扇子まで、幅広いアイテムをそろえています。 <br />バイヤーが工房に出向き、つくり手と対話しながら、実際に商品を手に取り 一つ一つ厳選した選り抜きの扇子のラインナップを、ぜひご覧になってください。</p>
            </div>
            </li>
            <li class="flex-item calc3">
                <h3 class="t-ttl ora">名入れ</h3>
                <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping06_b7f61840-9db1-4a08-8315-0a369b7c6ce8.jpg?v=1653653256" alt="丁寧なサポート" /></p>
            <div class="select_item_text">
            
                <p>贈り物をするときには、「相手に失礼がないように」という配慮が必要です。 特に目上のかたへの贈り物やビジネスシーンでの贈り物は、マナーが正しい かどうか迷うこともあるでしょう。 <br />BECOSでは、贈答シーンのマナーやギフト選びに精通したコンシェルジュが お客様をサポートいたします。</p>
            </div>
            </li>
            </ul>
            </div>
        </div>
        </section>

            <!-- 嬉しいお声をいただいております -->
            <section class="section-wrapper">
            <div class="section-inner w-section vice_section">
                <h2 class="section-title">嬉しいお声をいただいております</h2>
                <ul class="flex-container scroll-container">
                    <li class="flex-item calc3">
                        <h3 class="t-ttl ora">Aさん</h3>
                        <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping01_dea44d23-c8c9-4052-bf93-4c8339dd67e9.jpg?v=1653653256" alt="贈り物に最適なラッピング" /></p>
                        <div class="select_item_text">
                            <p>扇子の贈り物を贈る際のラッピングにも高級扇子にふさわしい素材の 美しい和紙や水引を用いています。 <br />熨斗対応も可能ですので、目上の方へのプレゼントや正式な場での贈 り物にも対応しております。 <br />包装紙や水引が選べるだけではなく、ドライフラワーの花束やメッセ ージカードを付けることも可能です。</p>
                        </div>
                    </li>
                    <li class="flex-item calc3">
                        <h3 class="t-ttl ora">Bさん</h3>
                        <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/ohnishitsune02_0b04e30d-a373-493f-8612-835baa81598e.jpg?v=1653653256" alt="長く使える高品質" /></p>
                    <div class="select_item_text">
                   
                        <p>BECOSでは、京扇子・江戸扇子の老舗扇子ブランドから、加賀友禅の伝統工芸士、 また新進の作家によるデザイン扇子まで、幅広いアイテムをそろえています。 <br />バイヤーが工房に出向き、つくり手と対話しながら、実際に商品を手に取り 一つ一つ厳選した選り抜きの扇子のラインナップを、ぜひご覧になってください。</p>
                    </div>
                    </li>
                    <li class="flex-item calc3">
                        <h3 class="t-ttl ora">Cさん</h3>
                        <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping06_b7f61840-9db1-4a08-8315-0a369b7c6ce8.jpg?v=1653653256" alt="丁寧なサポート" /></p>
                    <div class="select_item_text">
                    
                        <p>贈り物をするときには、「相手に失礼がないように」という配慮が必要です。 特に目上のかたへの贈り物やビジネスシーンでの贈り物は、マナーが正しい かどうか迷うこともあるでしょう。 <br />BECOSでは、贈答シーンのマナーやギフト選びに精通したコンシェルジュが お客様をサポートいたします。</p>
                    </div>
                    </li>
                    </ul>
                </div>
                </section>
                <!-- バナー -->
                <div class="banner_content_gift">
                    <h2 class="banner_title">ギフトコンシェルジュにお任せください</h2>
                    <p class="banner_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </div>

                <section class="section-wrapper border">
                    <div class="section-inner w-section">
                        <h2 class="section-title">機能美としてのお箸</h2>
                        <h3>選び方のポイント</h3>
                        <ul class="flex-container">
                            <li class="flex-item">
                            <p><span class="point">持ちやすさ・滑り止め</span></p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/875_0007__003_1600x.jpg?v=1604315579" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">閉じた形状を前から確認する</h3>
                            <p>扇子の両側にある「親骨」と呼ばれる2本の太い 骨。その親骨が真っすぐでは無く、先端部分が キュッと閉まっているのが良い扇子です。</p>
                            </div>
                            </li>
                            <li class="flex-item">
                            <p><span class="point">料理から箸を選ぶ</span></p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/875_0007__003_1600x.jpg?v=1604315579" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">閉じた状態を横から確認する</h3>
                            <p>良い扇子は、熟練した職人が紙を貼っているた め、寸分狂うことなく中骨に貼り付けられるの で、扇面（おうぎめん）の紙がはみ出ることは ありません。</p>
                            </div>
                            </li>
                            <li class="flex-item">
                            <p><span class="point">長さ・太さで選ぶ</span></p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/875_0007__003_1600x.jpg?v=1604315579" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">素材を確認する</h3>
                            <p>素材に関しては、基本的に紙製の扇子が高級 な扇子です。紙素材は中骨の両面に丁寧に貼り 付けなければならず、つくるのにとても手間が かかります。</p>
                            </div>
                            </li>
                            <li class="flex-item">
                            <p><span class="point">角で箸で選ぶ</span></p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/875_0007__003_1600x.jpg?v=1604315579" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">中骨に使われる竹の質</h3>
                            <p>扇子を支える中骨には、おもに竹が使われ、 なかでも竹の皮部分に近い、耐久性があって 密度が高く、よく”しなる”中骨が使われて いるのが『いい扇子』です。竹皮に近い部分 は材料としても高価です。</p>
                            </div>
                            </li>
                            </ul>
                    </div>
                </section>

                <section class="section-wrapper border">
                    <div class="section-inner w-section">
                        <h2 class="section-title">お箸に添えて、プラスのギフトを</h2>
                        <p>テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
                        <h3>箸置き</h3>
                        <ul class="flex-container">
                            <li class="flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/501712_1600x.jpg?v=1604295767" alt="">
                                <h3>商品名</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/501712_1600x.jpg?v=1604295767" alt="">
                                <h3>商品名</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/501712_1600x.jpg?v=1604295767" alt="">
                                <h3>商品名</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section-wrapper">
                    <div class="section-inner w-section">
                        <!-- <h2 class="section-title">用途別お箸</h2>
                        <p>テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p> -->
                        <h3>用途別お箸</h3>
                        <ul class="flex-container">
                            <li class="flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/501712_1600x.jpg?v=1604295767" alt="">
                                <h3>商品名</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/501712_1600x.jpg?v=1604295767" alt="">
                                <h3>商品名</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/501712_1600x.jpg?v=1604295767" alt="">
                                <h3>商品名</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="section-wrapper select">
                    <div class="section-inner w-section">
                        <h2 class="section-title">BECOSで知る箸に関するマナー・知識</h2>
                        <p class="select_text">テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
                        <ul class="flex-container scroll-container">
                        <li class="flex-item calc3">
                            <h3 class="t-ttl ora">ラッピング</h3>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping01_dea44d23-c8c9-4052-bf93-4c8339dd67e9.jpg?v=1653653256" alt="贈り物に最適なラッピング" /></p>
                            <div class="select_item_text">
                                <p>扇子の贈り物を贈る際のラッピングにも高級扇子にふさわしい素材の 美しい和紙や水引を用いています。 <br />熨斗対応も可能ですので、目上の方へのプレゼントや正式な場での贈 り物にも対応しております。 <br />包装紙や水引が選べるだけではなく、ドライフラワーの花束やメッセ ージカードを付けることも可能です。</p>
                            </div>
                        </li>
                        <li class="flex-item calc3">
                            <h3 class="t-ttl ora">メッセージカード</h3>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/ohnishitsune02_0b04e30d-a373-493f-8612-835baa81598e.jpg?v=1653653256" alt="長く使える高品質" /></p>
                        <div class="select_item_text">
                       
                            <p>BECOSでは、京扇子・江戸扇子の老舗扇子ブランドから、加賀友禅の伝統工芸士、 また新進の作家によるデザイン扇子まで、幅広いアイテムをそろえています。 <br />バイヤーが工房に出向き、つくり手と対話しながら、実際に商品を手に取り 一つ一つ厳選した選り抜きの扇子のラインナップを、ぜひご覧になってください。</p>
                        </div>
                        </li>
                        <li class="flex-item calc3">
                            <h3 class="t-ttl ora">名入れ</h3>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping06_b7f61840-9db1-4a08-8315-0a369b7c6ce8.jpg?v=1653653256" alt="丁寧なサポート" /></p>
                        <div class="select_item_text">
                        
                            <p>贈り物をするときには、「相手に失礼がないように」という配慮が必要です。 特に目上のかたへの贈り物やビジネスシーンでの贈り物は、マナーが正しい かどうか迷うこともあるでしょう。 <br />BECOSでは、贈答シーンのマナーやギフト選びに精通したコンシェルジュが お客様をサポートいたします。</p>
                        </div>
                        </li>
                        </ul>
                        </div>
                    </div>
                    </section>

                    <section class="section-wrapper">
                        <div class="section-inner w-section">
                            <h2 class="section-title">お箸に関する記事はこちら</h2>
                            <p class="select_text">テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
                        <div class="section-inner"><a href="https://journal.thebecos.com/sensu-tsukurikata/" class="info-bar info1">
                        <li>
                        <p>工程は80以上！扇子の作り方を知る【扇子作りを体験できるスポット&amp;商品も紹介】</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/byakudan-sensu/" class="info-bar info2">
                        <li>
                        <p>香りを楽しむ高級扇子「白檀扇子」！魅力や本物かどうかの見分け方・取り扱い方法まで紹介</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/sensu-mochikata/" class="info-bar info3">
                        <li>
                        <p>粋に使うために知っておきたい！正しい扇子の持ち方・開き方・あおぎ方</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/sensubukuro/" class="info-bar info4">
                        <li>
                        <p>扇子袋の使い方とおすすめの扇子袋8選</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/brands-folding-fan-8/" class="info-bar info5">
                        <li>
                        <p>老舗から最新鋭まで！おすすめの扇子ブランド16選</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/phantom-bamboo-susutake/" class="info-bar info6">
                        <li>
                        <p>幻の竹「煤竹」とは？本煤竹と焼煤竹の違い</p>
                        </li>
                        </a>
                        </div>
                        <div class="button"><a href="#">もっと読む</a></div>
                    </div>
                    </section>
                    <!-- よくある質問 -->
                    <section class="section-wrapper">
                        <div class="section-inner w-section">
                            <h2 class="section-title">お箸に関するよくある質問</h2>
                        <div class="section-inner w-section">
                        <div class="faq">
                        <div class="qabox"><input type="checkbox" id="faq_bar01" class="faq-check" checked="checked" /> <label for="faq_bar01" class="faq-label">Q.男持ちと女持ちの違いは何ですか？</label>
                        <ul id="links01">
                        <li>まず、大きさが違います。もともと扇子の大きさは、『男性7寸5分、女性6寸5分』とされていましたが、現在は男性用が21～23cm（21cm以上が望ましい）、女性用は19～20cmのサイズでつくられています。色や柄で言えば、男性用はシックな色合いのものや大胆な柄、抽象的な柄などが多く、女性用はピンクやパステル調の淡い色合いのものや、花・兎など可愛らしいモチーフが多くなっています。ただ、現在は色柄など男女を問わず持てるものも多く、大きさも用途や好みに合わせて選ぶことが可能になっています。</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar02" class="faq-check" /> <label for="faq_bar02" class="faq-label">Q.扇子の修理はできますか？</label>
                        <ul id="links02">
                        <li>破損の状態によりますが、要の交換、扇面の紙と扇骨の糊付け補修、糸かがりなどの修理はできる場合があります。また、場合によっては扇面を新しいものに変えることもできます。まずは、製造元や扇修理専門店にお問合わせください。</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar03" class="faq-check" /> <label for="faq_bar03" class="faq-label">Q.右利き用、左利き用はありますか？</label>
                        <ul id="links03">
                        <li>はい、あります。すべてのメーカーで製造しているわけではありませんが、左利きの方用に、通常と反対方向に開くようにつくられた扇子があります。その場合、左手で持って扇いでも、扇子が閉じていかないようになっています。</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar04" class="faq-check" /> <label for="faq_bar04" class="faq-label">Q.良い扇子の見分け方を教えてください。</label>
                        <ul id="links04">
                        <li>扇子を閉じて、扇子の両側にある太い「親骨」が左右にあるように置いたとき、二つの親骨がまっすぐ平行に見えるのではなく、上の方がキュッとしまった形になっているのが良い扇子です。また同じく閉じた状態で、今度は親骨の一方が机に当たるように置いたとき、親骨と親骨の間から紙がはみ出していない扇子も、腕の良い職人がつくったものです。また、扇骨の本数が多ければ多いほど、良い扇子と言われます。</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar05" class="faq-check" /> <label for="faq_bar05" class="faq-label">Q.扇子の正しい持ち方を教えてください。</label>
                        <ul id="links05">
                        <li>男性の場合は、親指以外の4本の指で要の部分を持ち、親指が相手に見えるように扇ぐのが正しいとされます。女性の場合は男性とは逆に、4本の指が相手に見えるように持って扇子をゆらすようにすると、優雅で涼し気に見えます。</li>
                        </ul>
                        </div>
                        </div>
                        </div>
                        </div>
                        </section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    {{ 'chopstick.js' | asset_url | script_tag }}
    
</body>
</html>