<div class="main">
        <div class="fv">
            <p class="fv-img"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/pd_S0043-038-1.jpg?v=1645608393" alt="箸はBECOS" /></p>
        <div class="main-copy">
            <h1 class="brand-copy">箸はBECOS</h1>
            <p class="j-copy">全国から厳選した本物だけを販売 <br class="sp" />｜伝統工芸品通販のBECOS</p>
        </div>
        </div>
    </div>
    <!-- fv -->
    <!--ランキング-->
    <section class="section-wrapper">
        <div class="section-inner">
            <p>箸はBECOS。贈答品・ギフトに最適な高級箸や夫婦箸など、全国の厳選した箸を幅広く取り揃えております。伝統的な輪島塗や若狭塗など、全国からBECOSが厳選した本物だけをご紹介。名入れ可能な箸は喜ばれる贈り物としてもピッタリです。箸の歴史やマナー、箸ができるまでのストーリーなど全てを詰め込みましたので、ぜひご覧ください。</p>
            <h2 class="section-title">箸の人気売れ筋<br class="pc">ランキング</h2>
            <div class="tabs"><input id="all" type="radio" name="tab_item" />
                <label class="tab_item" for="all">ギフトセット用</label>
                <input id="name_item" type="radio" name="tab_item" checked="checked" />
                <label class="tab_item" for="name_item">自分用・1膳ギフト</label>
                <!-- ギフト用 <temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>---->
                <div class="tab_content" id="all_content">
                    <div class="f-container">
                        <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-038"> <span class="number1">1位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                        <figcaption class="item">【若狭塗】<br />箸蔵まつかん 箸ペア<br />黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)</figcaption>
                        <a href="https://www.thebecos.com/products/s0119-009">
                        <p class="price">¥11,000</p>
                        </a></figure>
                        <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125"> <span class="number2">2位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0009-125-2_1600x.jpg?v=1602636038" alt="【金沢箔】箔一 夫婦箸・箸置きセット 金糸 (金)" /></a>
                        <figcaption class="item">【金沢箔】<br />箔一 夫婦箸・箸置きセット<br />金糸 (金)</figcaption>
                        <a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125">
                        <p class="price">¥6,050</p>
                        </a></figure>
                        <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085"> <span class="number3">3位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-085-2_1600x.jpg?v=1624530674" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット まつりはなび" /></a>
                        <figcaption class="item">【津軽びいどろ】<br />北洋硝子 (アデリア) 箸/箸置きセット <br />まつりはなび</figcaption>
                        <a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085">
                        <p class="price">¥5,550</p>
                        </a></figure>
                    </div>
                </div>

            <!-- 自分用・1膳ギフト商品 ---------------------------------------------->
            <div class="tab_content" id="name_item_content">
                <div class="f-container">
                    <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0154-019"> <span class="number1">1位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/s0154-019-1_1600x.jpg?v=1633344667" alt="【漆 溜塗】十八膳 箸 だん 段々金 (1膳)" /></a>
                    <figcaption class="item">【漆 溜塗】<br />十八膳 箸 だん 段々金 (1膳)</figcaption>
                    <a href="https://www.thebecos.com/collections/chopsticks/products/s0154-019">
                    <p class="price">¥2,750</p>
                    </a></figure>
                    <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-024"> <span class="number2">2位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan24_b7f447ba-e41a-4810-8a09-b4d3c18fa881_1600x.jpg?v=1602579360" alt="【高級箸】箸蔵まつかん モダンな若狭塗箸 hanataba urushi 赤" /></a>
                    <figcaption class="item">【高級箸】<br />箸蔵まつかん モダンな若狭塗箸<br /> hanataba urushi 赤</figcaption>
                    <a href="https://www.thebecos.com/products/s0043-024">
                    <p class="price">¥29,260</p>
                    </a></figure>
                    <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-084"> <span class="number3">3位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-084-7_1600x.jpg?v=1656913286" alt="【箸】六角竹乃箸 黒 | 若狭塗" /></a>
                    <figcaption class="item">【箸】<br />コ六角竹乃箸 黒 | 若狭塗<br /> </figcaption>
                    <a href="https://www.thebecos.com/products/s0043-084">
                    <p class="price">¥11,000</p>
                    </a></figure>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- バナー -->
    <div class="banner_content">
        <h2 class="banner_title">私たちの一生は箸にはじまり、箸に終わる</h2>
        <p class="banner_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
    <!-- スライダー＆モーダル -->
    <section class="section-wrapper">
        <div class="section-inner">
            <h2 class="section-title">どんなシーンでお箸を贈りますか？<br>種類別に探す</h2>
            <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
        </div>

        <div class="container-c">
          <div class="rec-tabs">
            <input id="rec1" type="radio" name="rec_item" checked>
            <label class="rec-flex-item" for="rec1">
              <div class="slick-img">
                      <a href="https://www.thebecos.com/products/s0145-006">
                      <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a>
                      <h3>結婚のお祝いに<br>夫婦箸を贈る</h3>
                      <!--
                      <div class="slider-body">
                      <h4>【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き </h4>
                      <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                          職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                          オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                          美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                      </p>
                      </div>
                    -->

                </div>
            </label>

            <input id="rec2" type="radio" name="rec_item">
            <label class="rec-flex-item" for="rec2">
              <div class="slick-img">
                <a href="https://www.thebecos.com/products/s0043-083">
                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-083-13_1600x.jpg?v=1656913259" alt="【夫婦箸】六角竹乃箸 夫婦 | 若狭塗"/></a>
                <h3>敬老の日・<br>長寿のお祝い</h3>
                <!--
                <div class="slider-body">
                <h4>【夫婦箸】六角竹乃箸 夫婦 | 若狭塗 </h4>
                <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                    職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                    オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                    美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                </p>
                </div>
              -->
                </div>
            </label>

            <input id="rec3" type="radio" name="rec_item">
            <label class="rec-flex-item" for="rec3">
              <div class="slick-img">
                  <a href="https://www.thebecos.com/products/s0043-038">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                    <h3>両親へ高級箸を贈る</h3>
                    <!--
                    <div class="slider-body">
                    <h4>【若狭塗】箸蔵まつかん 箸ペア <br>黒檀 四角 漆塗 箸置付 (21.5, 23.0cm) </h4>
                    <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                        職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                        オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                        美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                    </p>
                    </div>
                  -->
              </div>
            </label>

            <input id="rec4" type="radio" name="rec_item">
            <label class="rec-flex-item" for="rec4">
              <div class="slick-img">
                  <a href="https://www.thebecos.com/products/s0043-003">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /></a>
                    <h3>海外の方への<br>お土産として贈る</h3>
                    <!--
                    <div class="slider-body">
                    <h4>【高級箸】箸蔵まつかん 若狭塗箸 <br>貝きりこ桐箱入 23.0cm </h4>
                    <p>食洗器も使えるからプレゼントにおすすめのお箸です！
                        職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                        オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                        美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                    </p>
                    </div>
                  -->
              </div>
            </label>


            <div class="advice-container  tab_rec_content" id="rec1_content">
              <div class="modal-top-comment">
                結婚のお祝いに夫婦箸を贈る。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
              </div>
              <div class="commentator-item">
                <!--モーダル１-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open1" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open1" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a><br>
                    【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal1">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                            <div class="info_modal_img">
                                <a href="https://www.thebecos.com/products/s0145-006"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a>
                            </div>
                            <ul class="info_modal_title">
                                <li class="info_modal_li"><h2>【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き</h2></li>
                                <li><h3>¥11,400</h3></li>
                            </ul>
                            <div class="info_modal_body">
                                <p>食洗器も使えるからプレゼントにおすすめのお箸です！<br>
                                職人が一膳づつ丹精を込めて筆で絵付けした、食器洗浄機対応のお箸です。<br>
                                オリジナルギフトBOXに波佐見焼の箸置きをセットにしてお届けいたします。<br>
                                美しい夜空に星が瞬いている瞬間を切り出したお箸を、ぜひお楽しみください。
                                </p>
                                <div class="info_modal_bottun">
                                    <a href="#">ご購入はこちら</a>
                                </div>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル２-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open2" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open2" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a><br>
                    商品名２
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal2">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                            <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名２</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                                 <div class="info_modal_bottun">
                                     <a href="#">ご購入はこちら</a>
                                 </div>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル３-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open3" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open3" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a><br>
                    商品名3
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal3">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                            <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-006-21_1600x.jpg?v=1654650495" alt="【箸】 ペア 夜空 箸置付 (22.5cm) | 筆描き (発送：8月頭頃)"/></a></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名３</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

             </div>
            </div><!-- advice-container -->

            <div class="advice-container  tab_rec_content" id="rec2_content">
              <div class="modal-top-comment">
                敬老の日・長寿のお祝い。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
              </div>
              <div class="commentator-item">
                <!--モーダル４-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open4" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open4" class="simple">
                    <img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら"><br>
                    【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal4">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                            <a href=""><img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら"></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル５-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open5" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open5" class="simple">
                    <img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら"><br>
                    商品名5
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal5">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                            <a href="https://www.thebecos.com/products/s0145-006"><img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら"></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名５</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル６-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open6" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open6" class="simple">
                    <img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら"><br>
                    商品名6
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal6">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                            <a href="https://www.thebecos.com/products/s0145-006"><img class="info_img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-086-2_1600x.jpg?v=1624530685" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット sakura 花びら"></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名６</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

              </div>
            </div><!-- advice-container -->

            <div class="advice-container  tab_rec_content" id="rec3_content">
              <div class="modal-top-comment">
                両親へ高級箸を贈る。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
              </div>
              <div class="commentator-item">
                <!--モーダル７-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open7" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open7" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /><br>
                    商品名7
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal7">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                            <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名７</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル８-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open8" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open8" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /><br>
                    商品名8
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal8">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                          <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名８</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル９-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open9" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open9" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /><br>
                    商品名9
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal9">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                          <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名９</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

              </div>
            </div><!-- advice-container -->

            <div class="advice-container  tab_rec_content" id="rec4_content">
              <div class="modal-top-comment">
                海外の方へのお土産として贈る。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
                テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。
              </div>
              <div class="commentator-item">
                <!--モーダル１０-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open10" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open10" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /><br>
                    商品名10
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal10">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                          <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名１０</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル11-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open11" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open11" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /><br>
                    商品名11
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal11">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                          <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名１１</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

                <!--モーダル12-->
                <div class="modal-wrap">
                  <input type="radio" id="modal__open12" class="modal__open" name="modal__trigger"/>
                  <label for="modal__open12" class="simple">
                    <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /><br>
                    商品名12
                  </label>
                  <input type="radio" id="modal__close" class="modal__close" name="modal__trigger"/>
                  <div class="modal" id="modal12">
                    <div class="modal__content-wrap">
                      <label for="modal__close" class="close-label">×</label>
                      <!--モーダルの中身-->
                      <div class="modal__content">
                        <div class="info_modal_img">
                            <a href=""><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan03_ab82eba0-c203-42e8-9152-a13f004fab70_1600x.jpg?v=1602580060" alt="【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 23.0cm" /></a>
                        </div>
                        <ul class="info_modal_title">
                            <li class="info_modal_li"><h2>商品名１２</h2></li>
                            <li><h3>¥4,400</h3></li>
                        </ul>
                            <div class="info_modal_body">
                                 <p>テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト・テキスト</p>
                            </div>
                      </div>
                    </div>
                    <label for="modal__close">
                      <div class="modal__background"></div>
                    </label>
                  </div>
                </div>

              </div>
            </div><!-- advice-container -->
          </div>

        </div>
    </section>

    <section class="section-wrapper">
        <div class="section-inner">
            <h2 class="section-title">予算別に箸を探す</h2>
            <ul class="section_button">
                <li><div class="button05">
                    <a href=""><h3>1,000円～3,000円未満</h3></a>
                </div></li>
                <li><div class="button05">
                    <a href=""><h3>3000円～5,000円未満</h3></a>
                </div></li>
                <li><div class="button05">
                    <a href=""><h3>5,000円～7,000円未満</h3></a>
                </div></li>
                <li><div class="button05">
                    <a href=""><h3>10,000円～</h3></a>
                </div></li>
            </ul>
        </div>
    </section>
<!-- 箸１膳できるまで  -->
    <section class="section">
        <h2 class="section-title white">なぜ日本人は箸に<br class="pc">魅了されるのか</h2>
        <div class="section-inner black">
            <h3 class="section_black">箸1膳ができるまで</h3>
            <div class="slider2">
                <div><img src="img/slider.png" alt="" /></div>
                <div><img src="img/koutei02.jpeg" alt="" /></div>
                <div><img src="img/koutei03.jpeg" alt="" /></div>
                <div><img src="img/koutei04.jpeg" alt="" /></div>
                <div><img src="img/koutei05.jpeg" alt="" /></div>
                <div><img src="img/koutei06.jpeg" alt="" /></div>
                <div><img src="img/koutei07.jpeg" alt="" /></div>
                <div><img src="img/koutei08.jpeg" alt="" /></div>
              </div>
        <div class="container-c">
            <div class="kazari">
            <img src="img/right_moyou.png" alt=""></div>
        <h3 class="section_black">職人技(想い)が詰まった逸品</h3>
        <h3 class="section_black left">職人技(想い)が詰まった逸品</h3>
        <div class="flex-container black_inner">
        <p class="section_black">能美を追求し、感性に一致する箸を。
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
            ×写真 ×テキスト</p>
        <img src="img/ojisan.png" alt="">
        </div>
        </div>
        <div class="container-c padding_b">
            <h3 class="section_black">職人技(想い)が詰まった逸品</h3>
            <h3 class="section_black right">職人技(想い)が詰まった逸品</h3>
            <div class="flex-container black_inner">
                <img src="img/ojisan.png" alt="">
            <p class="section_black">能美を追求し、感性に一致する箸を。
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト能美を追求し、感性に一致する箸を。<br>
                ×写真 ×テキスト</p>
            </div>
            <div class="kazari2">
                <img src="img/right_moyou.png" alt=""></div>
            </div>
    </div>
    </section>
    <!--ランキング-->
    <section class="section-wrapper">
        <div class="section-inner">
            <h2 class="section-title">世界に１つだけの特別なギフト</h2>
            <h3>名入れ可能なお箸<br>人気ランキング</h3>
            <div class="f-container">
                <figure class="flex-item"><a href="https://www.thebecos.com/products/s0043-038"> <span class="number1">1位</span><br class="pc" /> <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【若狭塗】箸蔵まつかん 箸ペア 黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)" /></a>
                <figcaption class="item">【若狭塗】<br />箸蔵まつかん 箸ペア<br />黒檀 四角 漆塗 箸置付 (21.5, 23.0cm)</figcaption>
                <a href="https://www.thebecos.com/products/s0119-009">
                <p class="price">¥11,000</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125"> <span class="number2">2位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0009-125-2_1600x.jpg?v=1602636038" alt="【金沢箔】箔一 夫婦箸・箸置きセット 金糸 (金)" /></a>
                <figcaption class="item">【金沢箔】<br />箔一 夫婦箸・箸置きセット<br />金糸 (金)</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0009-125">
                <p class="price">¥6,050</p>
                </a></figure>
                <figure class="flex-item"><a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085"> <span class="number3">3位</span><br class="pc" /> <img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/S0033-085-2_1600x.jpg?v=1624530674" alt="【津軽びいどろ】北洋硝子 (アデリア) 箸/箸置きセット まつりはなび" /></a>
                <figcaption class="item">【津軽びいどろ】<br />北洋硝子 (アデリア) 箸/箸置きセット <br />まつりはなび</figcaption>
                <a href="https://www.thebecos.com/collections/chopsticks/products/s0033-085">
                <p class="price">¥5,550</p>
                </a></figure>
            <!-- </div>
            </div> -->
            </div>
    </div>
    </section>
<!-- お箸のデザイン ---</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore>--->
<div class="design_section">
    <section class="section-wrapper">
        <div class="section-inner">
          <h2 class="section-title">お箸のデザイン美は産地<br>・漆塗りにあり</h2>

            <div class="section-desc-area">
              <p class="section-desc">輪島塗箸(石川県)、津軽塗箸(青森県)、若狭塗箸(福井県)、山中塗箸(石川県)などーーーー
                テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト</p>
            </div>

        <div class="partner">
          <div class="partner-box">
            <input type="checkbox" id="partner_bar03" class="partner-check" />
            <label for="partner_bar03" class="partner-label">
              <div class="by-partner-head">
                <div class="by-partner-head-left">
                    <h3 class="vertical by-partner-heading business">輪島塗箸 石川県</h3>
                  <p class="vertical by-partner-text">
                    お世話になっている取引先の会社・<br>職場の方々へ感謝と誠意を伝える夏の贈り物
                  </p>
                </div>
                <div class="by-partner-head-right">
                    <img class="by-partner-img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-012-12_1600x.jpg?v=1633343626" alt="取引先、職場別カテゴリー、【京菓子】鈴屋将経 どら焼きセット 5種＊各3個（計15個）の写真">
                </div>
              </div>
            </label>
          <!-- 中身 -->
          <div class="by-partner-body" id="links03">
            <ul>
                <li class="partner_title"><h4 class="partner_title_4">【輪島うるし箸 】橋本幸作漆器店 手彫り沈金箸 寿 青海波 (2膳, 名入れ可)</h4></li>
                <li><p>ジャンル</p></li>
                <div class="no_display">
                <li>
                <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
                <li><a href="https://www.thebecos.com/products/s0147-012"><img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-012-1_1600x.jpg?v=1633343626" alt=""></a></li>
                </div>
                <div class="no_display">
                    <li><h4 class="maney">16,500円</h4></li>
                    <li>
                        <button class="buy_button">
                            <a href="#">詳細はこちら</a>
                        </button>
                    </li>
                    <!-- <li><button class="buy_button"><a href="https://www.thebecos.com/products/s0147-012">詳細はこちら</a></button></li> -->
                </div>
              </ul>
              <ul class="color_gray">
                <li class="color_gray_right"><h4 class="partner_title_4 partner_title_right">【輪島うるし箸 】橋本幸作漆器店 手描き蒔絵箸 富士桜 黒 (1膳, 名入れ可)</h4></li>
                <li class="color_gray_right"><p>ジャンル</p></li>
                <div class="no_display">
                <li><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-020-1_1600x.jpg?v=1633343775" alt=""></li>
                <li>
                <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>

                </div>
                <div class="no_display">
                <li class="color_gray_right"><h4 class="maney">16,500円</h4></li>
                <li class="color_gray_right">
                    <button class="buy_button">
                    <a href="https://www.thebecos.com/products/s0147-020">詳細はこちら</a>
                    </button>
                </li>
                </div>
              </ul>
              <ul>
                <li class="class="partner_title><h4 class="partner_title_4">【輪島うるし箸 】橋本幸作漆器店 WABISABI 黄唐 (1膳)</h4></li>
                <li><p>ジャンル</p></li>
                <div class="no_display">
                <li>
                <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
                <li><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-005-1_1600x.jpg?v=1633343482" alt=""></li>
                </div>
                <div class="no_display">
                <li><h4>5,500円</h4></li>
                <li><button class="buy_button"><a href="https://www.thebecos.com/products/s0147-005">詳細はこちら</a></button></li>
                 </div>
              </ul>
          </div><!-- by-partner-body -->
          </div><!-- partner-box -->

          <div class="partner-box">
            <input type="checkbox" id="partner_bar01" class="partner-check"/>
            <label for="partner_bar01" class="partner-label">

              <div class="by-partner-head">

                <div class="by-partner-head-left">
                    <h3 class="vertical by-partner-heading family">若狭塗</h3>
                  <p class="vertical by-partner-text">
                    両親や祖父・祖母、叔母・伯父などの親戚へ日ごろの感謝を伝える夏の贈り物
                  </p>
                </div>
                <div class="by-partner-head-right">
                    <img class="by-partner-img" src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-035-3_1600x.jpg?v=1640095595" alt="家族、親戚向けカテゴリーのイメージ写真" >
                </div>

              </div>
            </label>

      <div class="by-partner-body" id="links01">
          <ul>
            <li class="partner_title"><h4 class="partner_title_4">【高級箸】箸蔵まつかん 若狭塗箸の夫婦箸 八角箸ペア</h4></li>
            <li><p>ジャンル</p></li>
            <div class="no_display">
            <li>
            <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
            <li><a href="https://www.thebecos.com/products/s0043-035"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-035-2_1600x.jpg?v=1640095588" alt=""></a></li>
            </div>
            <div class="no_display">
                <li><h4 class="maney">7,700円</h4></li>
                <li><button class="buy_button"><a href="https://www.thebecos.com/products/s0043-035">詳細はこちら</a></button></li>
            </div>
          </ul>
          <ul class="color_gray">
            <li class="color_gray_right"><h4 class="partner_title_4 partner_title_right">【夫婦箸】 ペア 月灯り・紅月 箸置付 (22.5cm) | 筆描き</h4></li>
            <li class="color_gray_right"><p>ジャンル</p></li>
            <div class="no_display">
            <li><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-005-22_1600x.jpg?v=1655185133" alt=""></li>
            <li>
            <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>

            </div>
            <div class="no_display">
            <li class="color_gray_right"><h4 class="maney">5,500円</h4></li>
            <li class="color_gray_right">
                <button class="buy_button">
                <a href="https://www.thebecos.com/products/s0043-035">詳細はこちら</a>
                </button>
            </li>
            </div>
          </ul>
          <ul>
            <li class="class="partner_title><h4 class="partner_title_4">【高級箸】箸蔵まつかん 若狭塗箸 貝きりこ桐箱入 21.5cm</h4></li>
            <li><p>ジャンル</p></li>
            <div class="no_display">
            <li>
            <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p class="by-partner-t">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-012-1_1600x.jpg?v=1633343626" alt=""></li>
            </div>
            <div class="no_display">
            <li><h4>11,000円</h4></li>
            <li><button class="buy_button"><a href="https://www.thebecos.com/products/s0043-004">詳細はこちら</a></button></li>
             </div>
          </ul>
      </div><!-- by-partner-body -->
    </div><!-- partner-box -->


    </div><!-- partner -->
    </div><!-- section-inner -->
    </section><!-- section-wrapper -->
    </div>
    <section class="section-wrapper wrapper-about">
        <div class="section-inner">
        <div>
        <h2 class="section-title">全国から厳選したお箸ブランドが集結</h2>
        <p class="about-brand">どんな鋼材を使った包丁なのか。どんな想いで作っているのか。職人一人ひとりと向き合うことで、<br class="pc" />本物だけをBECOSでは取り扱っています。</p>
        <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/chopstick_map.png?v=1661258035" alt="全国の包丁4大ブランド" class="map" /></div>

        <ul class="brand-container">
            <li class="flex-scrolling brand-item">
                <div class="flex-container">
                <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0154-002-1_1600x.jpg?v=1633344400" alt="【堺刃物】義弘作 Mo.V墨流し 三徳包丁165ｍｍ ウォールナット柄" /></p>
                <div class="flex-brand-dl">
                <dl>【塗り箸ー輪島塗】<br>十八膳(おはこ)</dl>
                生産地：大阪府<br />技法：堺刃物</div>
                </div>
                <div class="about-shokunin b">
                <p>1927年創業の大阪府堺市にあるメーカーで一言で言えば「よく切れる包丁」が特徴のメーカーです。自社の刃付工場で砥ぎ上げられる、妥協なき切れ味と美しさを兼ね備えた至極の和包丁は、全国に多数のファンがおります。<br /><br />現在では、プロの料理人の90％が使用しているとも言われている堺の包丁を支える技術を駆使して作り上げられた山脇刃物製作所の包丁は、使い続けることでより一層手に馴染み、一生使い続けられる耐久性のある包丁ばかりですので、ぜひじっくりと時間をかけて選んでいただければと思います。</p>
                </div>
                <a href="hhttps://www.thebecos.com/products/s0154-002" class="link-btn">商品を見る</a>
            </li>
            <li class="flex-scrolling brand-item">
                <div class="flex-container">
                <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-038-1_1600x.jpg?v=1640128137" alt="【堺刃物】義弘作 Mo.V墨流し&lt;br&gt;三徳包丁165ｍｍ ウォールナット柄" /></p>
                <div class="flex-brand-dl">
                <dl>ー橋本</dl>
                生産地：福井県<br />技法：越前打刃物</div>
                </div>
                <div class="about-shokunin b">
                <p>1927年創業の大阪府堺市にあるメーカーで一言で言えば「よく切れる包丁」が特徴のメーカーです。自社の刃付工場で砥ぎ上げられる、妥協なき切れ味と美しさを兼ね備えた至極の和包丁は、全国に多数のファンがおります。<br /><br />現在では、プロの料理人の90％が使用しているとも言われている堺の包丁を支える技術を駆使して作り上げられた山脇刃物製作所の包丁は、使い続けることでより一層手に馴染み、一生使い続けられる耐久性のある包丁ばかりですので、ぜひじっくりと時間をかけて選んでいただければと思います。</p>
                </div>
                <a href="https://www.thebecos.com/collections/vendors?q=%E9%BE%8D%E6%B3%89%E5%88%83%E7%89%A9" class="link-btn">商品を見る</a>
            </li>
            <li class="flex-scrolling brand-item">
                <div class="flex-container">
                <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/matsukan36_38641443-04d6-4e24-876c-a7c78723c827_1600x.jpg?v=1627277508" alt="【堺刃物】義弘作 Mo.V墨流し &lt;br&gt;&lt;br&gt;三徳包丁165ｍｍ ウォールナット柄" /></p>
                <div class="flex-brand-dl">
                <dl>ー箸蔵</dl>
                生産地：大阪府<br />技法：堺打刃物</div>
                </div>
                <div class="about-shokunin b">
                <p>1927年創業の大阪府堺市にあるメーカーで一言で言えば「よく切れる包丁」が特徴のメーカーです。自社の刃付工場で砥ぎ上げられる、妥協なき切れ味と美しさを兼ね備えた至極の和包丁は、全国に多数のファンがおります。<br /><br />現在では、プロの料理人の90％が使用しているとも言われている堺の包丁を支える技術を駆使して作り上げられた山脇刃物製作所の包丁は、使い続けることでより一層手に馴染み、一生使い続けられる耐久性のある包丁ばかりですので、ぜひじっくりと時間をかけて選んでいただければと思います。</p>
                </div>
                <a href="https://www.thebecos.com/products/s0043-036" class="link-btn">商品を見る</a>
            </li>
            <li class="flex-scrolling brand-item">
                <div class="flex-container">
                <p class="flex-brand"><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0145-004-20_1600x.jpg?v=1655185080" alt="【堺刃物】義弘作 Mo.V墨流し 三徳包丁165ｍｍ ウォールナット柄" /></p>
                <div class="flex-brand-dl">
                <dl>ー結晶</dl>
                生産地：福井県<br />技法：越前打刃物</div>
                </div>
                <div class="about-shokunin b">
                <p>テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト<br /><br />利便性を追求してステンレスを使うメーカーが多い中「鋼」を使った切れ味の鋭い包丁を作り続けています。今どき錆びやすい「鋼」をあえて使うあたりに並々ならぬこだわりを感じますし、錆びやすい包丁だからこそ、頻繁にメンテナンスしてあげることで、長く愛着をもって使い続けることができます。</p>
                </div>
                <a href="https://www.thebecos.com/products/s0145-004" class="link-btn">商品を見る</a>
            </li>
        </ul>
        </div>
        <!---</temp></temp></temp>about -->
    </section>
        <!-- BECOS厳選の箸が選ばれる理由 -->
        <div class="bg-gray">
        <section class="section-wrapper select">
        <div class="section-inner w-section">
            <h2 class="section-title">BECOS厳選の箸が選ばれる理由</h2>
            <p class="select_text">テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
            <ul class="scroll-container">
            <li class="flex-item flex-scrolling calc3">
                <h3 class="t-ttl ora">ラッピング</h3>
                <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping01_dea44d23-c8c9-4052-bf93-4c8339dd67e9.jpg?v=1653653256" alt="贈り物に最適なラッピング" /></p>
                <div class="select_item_text">
                    <p>扇子の贈り物を贈る際のラッピングにも高級扇子にふさわしい素材の 美しい和紙や水引を用いています。 <br />熨斗対応も可能ですので、目上の方へのプレゼントや正式な場での贈 り物にも対応しております。 <br />包装紙や水引が選べるだけではなく、ドライフラワーの花束やメッセ ージカードを付けることも可能です。</p>
                </div>
            </li>
            <li class="flex-item flex-scrolling calc3">
                <h3 class="t-ttl ora">メッセージカード</h3>
                <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/ohnishitsune02_0b04e30d-a373-493f-8612-835baa81598e.jpg?v=1653653256" alt="長く使える高品質" /></p>
            <div class="select_item_text">

                <p>BECOSでは、京扇子・江戸扇子の老舗扇子ブランドから、加賀友禅の伝統工芸士、 また新進の作家によるデザイン扇子まで、幅広いアイテムをそろえています。 <br />バイヤーが工房に出向き、つくり手と対話しながら、実際に商品を手に取り 一つ一つ厳選した選り抜きの扇子のラインナップを、ぜひご覧になってください。</p>
            </div>
            </li>
            <li class="flex-item flex-scrolling calc3">
                <h3 class="t-ttl ora">名入れ</h3>
                <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping06_b7f61840-9db1-4a08-8315-0a369b7c6ce8.jpg?v=1653653256" alt="丁寧なサポート" /></p>
            <div class="select_item_text">

                <p>贈り物をするときには、「相手に失礼がないように」という配慮が必要です。 特に目上のかたへの贈り物やビジネスシーンでの贈り物は、マナーが正しい かどうか迷うこともあるでしょう。 <br />BECOSでは、贈答シーンのマナーやギフト選びに精通したコンシェルジュが お客様をサポートいたします。</p>
            </div>
            </li>
            </ul>
            </div>
        </section>
        </div>
            <!-- 嬉しいお声をいただいております -->
            <section class="section-wrapper">
            <div class="section-inner w-section vice_section">
                <h2 class="section-title">嬉しいお声をいただいております</h2>
                <ul class="scroll-container">
                    <li class="flex-item flex-scrolling calc3">
                        <h3 class="t-ttl ora">Aさん</h3>
                        <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping01_dea44d23-c8c9-4052-bf93-4c8339dd67e9.jpg?v=1653653256" alt="贈り物に最適なラッピング" /></p>
                        <div class="select_item_text">
                            <p>扇子の贈り物を贈る際のラッピングにも高級扇子にふさわしい素材の 美しい和紙や水引を用いています。 <br />熨斗対応も可能ですので、目上の方へのプレゼントや正式な場での贈 り物にも対応しております。 <br />包装紙や水引が選べるだけではなく、ドライフラワーの花束やメッセ ージカードを付けることも可能です。</p>
                        </div>
                    </li>
                    <li class="flex-item flex-scrolling calc3">
                        <h3 class="t-ttl ora">Bさん</h3>
                        <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/ohnishitsune02_0b04e30d-a373-493f-8612-835baa81598e.jpg?v=1653653256" alt="長く使える高品質" /></p>
                    <div class="select_item_text">

                        <p>BECOSでは、京扇子・江戸扇子の老舗扇子ブランドから、加賀友禅の伝統工芸士、 また新進の作家によるデザイン扇子まで、幅広いアイテムをそろえています。 <br />バイヤーが工房に出向き、つくり手と対話しながら、実際に商品を手に取り 一つ一つ厳選した選り抜きの扇子のラインナップを、ぜひご覧になってください。</p>
                    </div>
                    </li>
                    <li class="flex-item flex-scrolling calc3">
                        <h3 class="t-ttl ora">Cさん</h3>
                        <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping06_b7f61840-9db1-4a08-8315-0a369b7c6ce8.jpg?v=1653653256" alt="丁寧なサポート" /></p>
                    <div class="select_item_text">

                        <p>贈り物をするときには、「相手に失礼がないように」という配慮が必要です。 特に目上のかたへの贈り物やビジネスシーンでの贈り物は、マナーが正しい かどうか迷うこともあるでしょう。 <br />BECOSでは、贈答シーンのマナーやギフト選びに精通したコンシェルジュが お客様をサポートいたします。</p>
                    </div>
                    </li>
                    </ul>
                </div>
                </section>
                <!-- バナー -->
                <div class="banner_content_gift">
                    <h2 class="banner_title">ギフトコンシェルジュにお任せください</h2>
                    <p class="banner_text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </div>
                <!-- 機能美としてのお箸          -->
                <section class="section-wrapper border">
                    <div class="section-inner w-section">
                        <h2 class="section-title">機能美としてのお箸</h2>
                        <h3>選び方のポイント</h3>
                        <ul class="beautiful">
                            <li class="flex-item">
                            <p><span class="point">持ちやすさ・滑り止め</span></p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/875_0007__003_1600x.jpg?v=1604315579" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">閉じた形状を前から確認する</h3>
                            <p>扇子の両側にある「親骨」と呼ばれる2本の太い 骨。その親骨が真っすぐでは無く、先端部分が キュッと閉まっているのが良い扇子です。</p>
                            </div>
                            </li>
                            <li class="flex-item">
                            <p><span class="point">料理から箸を選ぶ</span></p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-051-5_1600x.jpg?v=1647947332" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">閉じた状態を横から確認する</h3>
                            <p>良い扇子は、熟練した職人が紙を貼っているた め、寸分狂うことなく中骨に貼り付けられるの で、扇面（おうぎめん）の紙がはみ出ることは ありません。</p>
                            </div>
                            </li>
                            <li class="flex-item">
                            <p><span class="point">長さ・太さで選ぶ</span></p>
                            <p><img src="https:////cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-051-9_1600x.jpg?v=1647947349" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">素材を確認する</h3>
                            <p>素材に関しては、基本的に紙製の扇子が高級 な扇子です。紙素材は中骨の両面に丁寧に貼り 付けなければならず、つくるのにとても手間が かかります。</p>
                            </div>
                            </li>
                            <li class="flex-item">
                            <p><span class="point">角で箸で選ぶ</span></p>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/hashi_kado.png?v=1661265363" alt="閉じた形状を前から確認する" class="img-circle"></p>
                            <div>
                            <h3 class="t-ttl">中骨に使われる竹の質</h3>
                            <p>扇子を支える中骨には、おもに竹が使われ、 なかでも竹の皮部分に近い、耐久性があって 密度が高く、よく”しなる”中骨が使われて いるのが『いい扇子』です。竹皮に近い部分 は材料としても高価です。</p>
                            </div>
                            </li>
                            </ul>
                    </div>
                </section>

                <section class="section-wrapper border">
                    <div class="section-inner w-section">
                        <h2 class="section-title">お箸に添えて、プラスのギフトを</h2>
                        <p>テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
                        <h3>箸置き</h3>
                        <ul class="scroll-container">
                            <li class="flex-scrolling flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/501712_1600x.jpg?v=1604295767" alt="">
                                <h3>【箸置】結び | 高岡銅器</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-scrolling flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0016-019-7_1600x.jpg?v=1658969878" alt="">
                                <h3>【箸置き】うきよヒラリ 箸置き 5点セット | 江戸硝子</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-scrolling flex-item">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0157-009-6_1600x.jpg?v=1659420677" alt="">
                                <h3>【箸置き】くま (2ヶ) | 大谷焼</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section-wrapper">
                    <div class="section-inner w-section">
                        <h3>用途別お箸</h3>
                        <ul class="scroll-container">
                            <li class="flex-item flex-scrolling">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-071-1_1600x.jpg?v=1647947786" alt="">
                                <h3>【若狭塗】<br>箸蔵まつかん 古代箸 拭漆 24cm</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-item flex-scrolling">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0043-051-1_1600x.jpg?v=1647947316" alt="">
                                <h3>【若狭塗】<br>箸蔵まつかん 菜箸 HASHIKURA SEASON01 風色 30cm (食洗機 可)</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                            <li class="flex-item flex-scrolling">
                                <img src="" alt="">
                                <img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/products/s0147-033-1_1600x.jpg?v=1633344023" alt="">
                                <h3>【輪島うるし箸 】<br>橋本幸作漆器店 干支 こども箸 うし 朱 (1膳, 名入れ可)</h3>
                                <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </li>
                        </ul>
                    </div>
                </section>

                <div class="bg-gray">
                <section class="section-wrapper select">
                    <div class="section-inner w-section">
                        <h2 class="section-title">BECOSで知る箸に関するマナー・知識</h2>
                        <p class="select_text">テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
                        <ul class="scroll-container">
                        <li class="flex-item flex-scrolling calc3">
                            <h3 class="t-ttl ora">ラッピング</h3>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping01_dea44d23-c8c9-4052-bf93-4c8339dd67e9.jpg?v=1653653256" alt="贈り物に最適なラッピング" /></p>
                            <div class="select_item_text">
                                <p>扇子の贈り物を贈る際のラッピングにも高級扇子にふさわしい素材の 美しい和紙や水引を用いています。 <br />熨斗対応も可能ですので、目上の方へのプレゼントや正式な場での贈 り物にも対応しております。 <br />包装紙や水引が選べるだけではなく、ドライフラワーの花束やメッセ ージカードを付けることも可能です。</p>
                            </div>
                        </li>
                        <li class="flex-item flex-scrolling calc3">
                            <h3 class="t-ttl ora">メッセージカード</h3>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/ohnishitsune02_0b04e30d-a373-493f-8612-835baa81598e.jpg?v=1653653256" alt="長く使える高品質" /></p>
                        <div class="select_item_text">

                            <p>BECOSでは、京扇子・江戸扇子の老舗扇子ブランドから、加賀友禅の伝統工芸士、 また新進の作家によるデザイン扇子まで、幅広いアイテムをそろえています。 <br />バイヤーが工房に出向き、つくり手と対話しながら、実際に商品を手に取り 一つ一つ厳選した選り抜きの扇子のラインナップを、ぜひご覧になってください。</p>
                        </div>
                        </li>
                        <li class="flex-item flex-scrolling calc3">
                            <h3 class="t-ttl ora">名入れ</h3>
                            <p><img src="https://cdn.shopify.com/s/files/1/0304/7001/3064/files/bp_gift-wrapping06_b7f61840-9db1-4a08-8315-0a369b7c6ce8.jpg?v=1653653256" alt="丁寧なサポート" /></p>
                        <div class="select_item_text">

                            <p>贈り物をするときには、「相手に失礼がないように」という配慮が必要です。 特に目上のかたへの贈り物やビジネスシーンでの贈り物は、マナーが正しい かどうか迷うこともあるでしょう。 <br />BECOSでは、贈答シーンのマナーやギフト選びに精通したコンシェルジュが お客様をサポートいたします。</p>
                        </div>
                        </li>
                        </ul>
                    </div>
                    </div>
                </section>
                    </div>
                    <section class="section-wrapper">
                        <div class="section-inner w-section">
                            <h2 class="section-title">お箸に関する記事はこちら</h2>
                            <p class="select_text">テキスト・テキスト・テキスト・テキスト・テキストテキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト テキスト・テキスト・テキスト・テキスト・テキスト  </p>
                        <div class="section-inner article">
                            <a href="https://journal.thebecos.com/kutaniyaki-hashioki/" class="info-bar info1">
                        <li>
                        <p>九谷焼のおしゃれな箸置きおすすめ10選｜食卓のアクセントになる商品を厳選！</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/meotobashi-hashiokiset/" class="info-bar info2">
                        <li>
                        <p>おしゃれな夫婦箸＆箸置きセットおすすめ9選！とっておきの一膳をプレゼント</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/meotobashi-naire/" class="info-bar info3">
                        <li>
                        <p>おしゃれな名入れ夫婦箸おすすめ10選！お祝いや特別な日に喜ばれるお箸を厳選</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/meotobashi-naire/" class="info-bar info4">
                        <li>
                        <p>名入れのお箸おすすめ10選｜結婚祝いや家族への贈り物に喜ばれる一膳を紹介</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/meotodjawan-oshare/" class="info-bar info5">
                        <li>
                        <p>おしゃれな夫婦茶碗おすすめ8選！合わせてチェックしたい夫婦箸も</p>
                        </li>
                        </a><a href="https://journal.thebecos.com/kodomoyou-hashi/" class="info-bar info6">
                        <li>
                        <p>子供用のおしゃれなお箸おすすめ10選｜子供に合う箸の長さや形状についても解説</p>
                        </li>
                        </a>
                        </div>
                        <div class="button"><a href="#">もっと読む</a></div>
                    </div>
                    </section>
                    <!-- よくある質問 -->
                    <section class="section-wrapper">
                        <div class="section-inner w-section">
                            <h2 class="section-title">お箸に関するよくある質問</h2>
                        <div class="section-inner w-section">
                        <div class="faq">
                        <div class="qabox"><input type="checkbox" id="faq_bar01" class="faq-check" checked="checked" /> <label for="faq_bar01" class="faq-label">Q.喪中の期間中に贈っても大丈夫？</label>
                        <ul id="links01">
                        <li>喪中の期間は結婚や年賀状などのお祝い事を避けるのがマナーとされていますが、お中元やお歳暮などの感謝の気持ちを伝える贈り物やお礼を伝えるための贈り物については、相手が喪中であっても贈ることができます。
                            　ただし、四十九日が過ぎるまでは自粛することがマナーとされています。</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar02" class="faq-check" /> <label for="faq_bar02" class="faq-label">Q.お返しは必要？</label>
                        <ul id="links02">
                        <li>原則として、感謝の気持ちを伝えるお中元やお歳暮などの贈り物にはお返しが必要ないとされています。
                            　贈り物をいただいたらなるべく早く電話や手紙でお礼の気持ちを伝え、相手のお祝い事などがあった際にこちらから贈り物をすると良いでしょう。</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar03" class="faq-check" /> <label for="faq_bar03" class="faq-label">Q.お返しの贈り物はどのように選ぶ？</label>
                        <ul id="links03">
                        <li>手の好みや家族構成、ライフスタイルに合わせて適したものを贈りましょう。
                            　お酒が好きな方へは酒器を贈ると喜んでいただけるでしょう。女性には化粧筆・メイクブラシを贈るのもおすすめです。
                            　好みがわからない場合は、タオルなどの実用的で好みがわかれにくいアイテムを選ぶと良いでしょう。</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar04" class="faq-check" /> <label for="faq_bar04" class="faq-label">Q.お返しの金額の相場は？</label>
                        <ul id="links04">
                        <li>いただいた贈り物の半額にあたる品物を「半返し」として贈るのが基本とされています。
                            　ただし、いただいた贈り物が一般的な相場より高額な場合は、半返しをするとかえって心配をかけてしまうので、3分の１程度の金額になる品物を選び感謝の気持ちを伝えるようにしましょう。
                            bow
                            1</li>
                        </ul>
                        </div>
                        <div class="qabox"><input type="checkbox" id="faq_bar05" class="faq-check" /> <label for="faq_bar05" class="faq-label">Q.扇子の正しい持ち方を教えてください。</label>
                        <ul id="links05">
                        <li>男性の場合は、親指以外の4本の指で要の部分を持ち、親指が相手に見えるように扇ぐのが正しいとされます。女性の場合は男性とは逆に、4本の指が相手に見えるように持って扇子をゆらすようにすると、優雅で涼し気に見えます。</li>
                        </ul>
                        </div>
                        </div>
                        </div>
                        </div>
                    </section>

